# Ignore API Keys and Secrets
config/config.py
.env

# Ignore Heavy Datasets
datasets/

# Ignore Python Cache and compiled files
__pycache__/
*.pyc

# Ignore IDE settings
.idea/
.vscode/

# Ignore Docker logs/checkpoints
checkpoint/